# Compiled classes
*.class

# Package files
*.jar
*.war
*.ear

# Maven specific entries
target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse specific entries
.classpath
.project
.settings
.checkstyle
test-output

# Intelij entries
*.ipr
*.iml
*.iws
.idea/

# mac os x
.DS_Store
